/*---------------------------------------index.html----------------------------------------------------  */
body {
  font-family: 'Montserrat';
  background-color: #FAFAFA;
}

h1{
  font-family: 'Montserrat';
  font-size: 12vh;
  color: white;
  font: bold;

}
h2{
  font-family: 'Montserrat';
  font-size: 4vh;
  
}

h3 {
  font-family: 'Montserrat';
  font-size: 5vh;
  text-align: left;
  font: bold;
}



#titlename {
  color: white;
}

#frase{
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 3vh;
}


header{
 background-size: auto;
  background-repeat: no-repeat;
}

.pink {
  background-color: #7b1fa2;
}

#portfolio {
  padding: 10vh 0;
}

#about {
  padding: 10vh 0;
}

#perfilfoto {
  padding-top: 15vh;
}

#bio {
  padding: 14vh;
  font-family: 'Montserrat';
  font-size: 3vh;
}

#skills {
  padding: 10vh 0;
}

#icon {
  max-width: 100%;
  height: auto;
}

#contact {
  padding: 10vh 0;
  text-align: center;
}

.center-align {
  text-align: center;
}

hr {
  
  height: 0.1vh;
  background-color:#7b1fa2;
}

#thin {
  height: 0.2vh;
  background-color: lightgray;
}

#card-py {
padding: 4vh 0;
margin-left: auto;
margin-right: auto;

}

#photo {
  width: 100%;
}

.btn {
background-color: #7b1fa2;
color: white;

}

a:hover {
  color: white;
  background-color: #ae52d4;
}

.nav-link {
  color: black;
}

nav {
box-shadow: none;
}

#menunav {
  background-color: #c7c7c7;
}

.skillbox {
  display: block;
  text-align: center;
  padding: 4vh 0;
 
}


.textskill {
  margin-top: 2vh;
  font-family: 'Montserrat';
  margin-left: 1vh;
  font-weight: bold; 
  margin-bottom: 0vh;
  
}

.card-txt {
  font-family: 'Montserrat';
}

/*----------------------------------------e-commerce.html--------------------------------------------------------*/
#fondoimage {
background-image: url('https://source.unsplash.com/4FXhqFqvdV8/1600x900');
max-height: 100vh;
height: auto;
}
#py {
  padding-top: 10vh;
}

.padd {
padding-top: 5vh;
}

.interm {
  background-color: #f6f6f6;
}


.title2 {
  color: white;
  text-align: left;
  font-size: 8vh;
  
  
}

.subb {
  color: white;
  text-align: left;
  font-size: 4vh;
  
}

.spacio {
  padding: 2vh 0;
}

h6 {
  font: bold;
}


/*----------------------------------------e-commerce.html--------------------------------------------------------*/

#fondoimagef {
  background-image: url('../img/rawpixel-579241-unsplash.jpg');
   max-height: 100vh;
  height: auto;
 
}

.head2 {
  font-size: 1.5em;
  line-height: 1.7;
  font-weight: 600;
  margin: 10px auto;
  letter-spacing: 0.2px;
  color: #333;
  font-family: 'Montserrat'
}

h6 {
  font-size: 3.5vh;
font: bold;
   color: #7b1fa2;
  font-family: 'Montserrat'
}

.head1 {
  line-height: 1.7;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 2em;
  letter-spacing: 0.5px;
  margin-top: -5px;
}

.txtpy {
 
  text-align: left;

}

#createby {
  margin-bottom: none;
  font-size: 2.5vh;
}

.cterleft {
text-align: left;
}

#iconcontact {
  padding: 6vh 0;
}


@media (max-width: 767px) {  
  h1 {
    font-size: 6vh;
  }

  #titlename {
    font-size: 3vh;
  }
}

.pdg {
  padding: 2vh 0;
}

p {
  margin-top: 1vh;
}

h5 {
  font-size: 3vh;
}



li {
  text-align: left;
  padding-right: 8vh;
}

.nav-item {
  padding-right: 0vh; 
}

.centerimg {
  align-items: center;
  
}


