h1{
  font-family: 'Oswald';
  font-size: 16vh;
  color: #7b1fa2;
}
h2{
  font-family: 'Oswald';
  font-size: 8vh;
}

h3 {
  font-family: 'Oswald';
  font-size: 6vh;
  text-align: center;
}
header{
  padding: 35vh 0;
  background-image: url(../img/edho-pratama-149011-unsplash.jpg);
  background-size: 100vh 100vw;
  background-repeat: no-repeat;
}

.pink {
  background-color: #7b1fa2;
}

#frase{
  font-family: 'Oswald';
  font-style: italic;
  font-size: 4vh;
}

#portfolio {
  padding: 10vh 0;
}

#about {
  padding: 10vh 0;
}

#bio {
  padding: 10vh;
  font-family: 'Montserrat';
  font-size: 3vh;
}

#skills {
  padding: 10vh 0;
}

#icon {
  max-width: 100%;
  height: auto;
}

#contact {
  padding: 10vh 0;
}

.center-align {
  text-align: center;
}

hr {
  
  height: 0.8vh;
  background-color:#7b1fa2;
}

#card-py {
padding: 4vh 0;
margin-left: auto;
margin-right: auto;

}

#photo {
  width: 100%;
}

.btn {
background-color: #ae52d4;
color: black;

}

a:hover {
  color: white;
}

.nav-link {
  color: black;
}

nav {
box-shadow: none;
}

#menunav {
  background-color: #c7c7c7;
}

.skillbox {
  display: block;
  text-align: center;
  padding: 0 15%;
  margin:3vh 0;
}

.textskill {
  margin:5vh 0;
  font-style: bold;
  font-family: 'Montserrat';
}

.card-txt {
  font-family: 'Montserrat';
}