/*---------------------------------------index.html----------------------------------------------------  */
body {
  font-family: 'Montserrat'
}

h1{
  font-family: 'Montserrat';
  font-size: 12vh;
  color: #7b1fa2;

}
h2{
  font-family: 'Montserrat';
  font-size: 6vh;
}

h3 {
  font-family: 'Montserrat';
  font-size: 6vh;
  text-align: center;
}

#frase{
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 3vh;
}


header{
  padding: 35vh 0;
  background-image: url(..);
  background-size: 100vh 100vw;
  background-repeat: no-repeat;
}

.pink {
  background-color: #7b1fa2;
}

#portfolio {
  padding: 10vh 0;
}

#about {
  padding: 10vh 0;
}

#perfilfoto {
  padding-top: 8vh;
}

#bio {
  padding: 14vh;
  font-family: 'Montserrat';
  font-size: 3vh;
}

#skills {
  padding: 10vh 0;
}

#icon {
  max-width: 100%;
  height: auto;
}

#contact {
  padding: 10vh 0;
}

.center-align {
  text-align: center;
}

hr {
  
  height: 0.8vh;
  background-color:#7b1fa2;
}

#card-py {
padding: 4vh 0;
margin-left: auto;
margin-right: auto;

}

#photo {
  width: 100%;
}

.btn {
background-color: #ae52d4;
color: black;

}

a:hover {
  color: white;
}

.nav-link {
  color: black;
}

nav {
box-shadow: none;
}

#menunav {
  background-color: #c7c7c7;
}

.skillbox {
  display: block;
  text-align: center;
  padding: 20% 15%;
  margin:3vh 0;
}

.textskill {
  margin:5vh 0;
  font-family: 'Montserrat';
  
}

.card-txt {
  font-family: 'Montserrat';
}

/*----------------------------------------e-commerce.html--------------------------------------------------------*/
#fondoimage {
background-image: url('https://source.unsplash.com/4FXhqFqvdV8/1600x900');
max-height: 100vh;
height: auto;
}
#py {
  padding-top: 10vh;
}

.padd {
padding-top: 5vh;
}

.interm {
  background-color: #f6f6f6;
}


.title2 {
  color: white;
  text-align: left;
  font-family: 'Oswald';
  font-size: 12vh;
  padding-top: 20vh;
  
}

.subb {
  color: white;
  text-align: left;
  font-family: 'Oswald';
  font-size: 6vh;
}

.spacio {
  padding: 2vh 0;
}

h6 {
  font: bold;
}


/*----------------------------------------e-commerce.html--------------------------------------------------------*/

#fondoimagef {
  background-image: url('../img/rawpixel-579241-unsplash.jpg');
   max-height: 100vh;
  height: auto;
 
}

.head2 {
  font-size: 1.5em;
  line-height: 1.7;
  font-weight: 600;
  margin: 10px auto;
  letter-spacing: 0.2px;
  color: #333;
  font-family: 'Montserrat'
}

h6 {
  font-size: 1.5em;
  line-height: 1.7;
  font-weight: 600;
  margin: 10px auto;
  letter-spacing: 0.2px;
  color: #7b1fa2;
  font-family: 'Montserrat'
}

.head1 {
  line-height: 1.7;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 2em;
  letter-spacing: 0.5px;
  margin-top: -5px;
}

